<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Technologies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="webs-link">
                <a href="{% url 'products' %}?category=basic-frontend" class="dropdown-item">HTML&CSS</a>
                <a href="{% url 'products' %}?category=javascript" class="dropdown-item">JavaScript</a>
                <a href="{% url 'products' %}?category=mongoDB" class="dropdown-item">MongoDB</a>
                <a href="{% url 'products' %}?category=sql" class="dropdown-item">SQL</a>
                <a href="{% url 'products' %}?category=flask" class="dropdown-item">Flask</a>
                <a href="{% url 'products' %}?category=django" class="dropdown-item">Django</a>
                <a href="{% url 'products' %}?category=django,flask,sql,mongoDB,javascript,basic-frontend" class="dropdown-item">All Technologies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="social-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Social Work
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="charity-link">
                <a href="" class="dropdown-item">Free tech lessons for children</a>
                <a href="" class="dropdown-item">Free services for charities</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
                Contact Us
            </a>
        </li>
    </ul>
</div>